@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: #1f2937;
    padding: 10px 60px 60px 60px;
}

.logo {
    margin-left: 2.3em;
}

.logo img {
    display: block;
}

nav {
    align-self:center; 
    margin: 0 0.8em 0 0;
}

header ul li {
    padding: 0 1.4em 0 0;
    color: #7d7c7d;
    font-size: 20px;
    color: #fff;
}

header ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
}

li a:active {
    color: #000;
    border-bottom: 2px solid #000;
    font-weight: 300;
}

li a:hover {
    color: #b6b6b6;
}

.sectiontwo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    padding: 2.3em 0;
    background: #1f2937;
    color: #fff;
    padding: 60px;
    
    
    
}

.sectiontwo-container img {
    display: block;
    width: 425px;
    margin-left: 100px;
    margin-bottom: 100px;
    
}

.sectiontwo-container button {
    display: block;
    background: #3882f6;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 15px 32px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 50px;
    
}

.sectiontwo-container p {
    display: block;
    width: 400px;
    text-align: justify;
    font-size: 20px;
    margin: 50px;
    
    
}

.sectiontwo-container h1{
    display: block;
    font-size: 40px;
    margin: 50px;
}
