@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  list-style: none;
  padding: 15px; 
}

.navbar .space li {
  flex-grow: 1;
}

.navbar .logo {
  display: block;

}

.navbar a {
  text-decoration: none;
  color: white;  
}

.navbar a:hover {
  text-decoration: none;

}

.maincontent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #1f2937; 
}

.item {
  border: darkred 2px solid;
  /*height: 150px;*/
  /*width: 300px;*/
  border: 2px solid black;
  background: darkred;
  color: white;
}

/*.row {
  display: flex;
  flex-wrap: wrap;
  
}

.side {
  flex: 1;
  padding: 20px;
  background: #1f2937;
  color: white;


}

.main {
  flex: 1.5;
  justify-items: center; 

  
}*/

/*.imagebox {
  display: flex;
  background: #aaa;
  background: grey;
  align-items: center;
  justify-content: center;
 }*/


.footer {

}

/*@media screen and (max-width:700px){
  .row, .navbar {
    flex-direction: column;
  }
}
*/
